extends ../layouts/default
include ../mixins/parallax-section

block content
	.container.about-text-section
		a(name='whoweare'): h1 Who we are
		p "At vero eos et accusamus et	.container.about-text-section iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
	.parallax-window(data-parallax="scroll" data-image-src="/images/parallax-2.jpg")
	.container.about-text-section
		a(name='ourmission'): h1 Our Mission
		p "At vero eos et accusamus et	.container.about-text-section iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
	.parallax-window(data-parallax="scroll" data-image-src="/images/parallax-3.jpg")
	.container.about-text-section
		a(name='ourmembers'): h1 Our Leadership Team
		each member in data.leadershipTeamMembers
			.well: .media
				.media-left.media-middle: a(href='#'): img.media-object(src=member._.image.limit(128,128), style="border-radius:50%;")
				.media-body
					h4=member.name
					p!= member.description
					a(href="mailto:"+member.email).mdi.mdi-email=member.email 
			
	.parallax-window(data-parallax="scroll" data-image-src="/images/parallax-4.jpg")
	.container.about-text-section
		a(name='ourmemberorgs'): h1 Our Member Organizations
		each org in data.memberOrgs
			.well: .media
				.media-left.media-middle: a(href='#'): img.media-object(src=org._.image.limit(128,128))
				.media-body
					h4=org.title
					p!= org.description
