extends ../layouts/default
include ../mixins/parallax-section
block intro
	.intro-basic: .container
		a(name='what'): h1 About
		.row: .col-md-8: p We are a coalition of Trans led and Trans inclusive organizations in Baltimore City working towards the upward mobility and empowerment of Transgender residents through advocacy and education.
block content
	.parallax-window(data-parallax="scroll" data-image-src="/images/parallax-2.jpg")
	.container.about-text-section
		a(name='mission'): h2 Our Mission
		p The Baltimore Transgender Alliance works to uplift the voices of transgender and gender non-conforming people in Baltimore City and continually center our community’s needs in broader political conversations. In July of 2015, we held the Baltimore Trans Uprising protest to highlight the systemic injustices that leave trans women of color vulnerable to violence and harassment. In November of 2015, we participated in a national Trans March of Resilience to both honor the trans people who have died and demonstrate the strength and solidarity of community and our movement. We are parents, artists, business owners, students, and citizens representing ourselves in public and refusing to back down.
	.parallax-window(data-parallax="scroll" data-image-src="/images/parallax-0.jpg")
	.container.about-text-section
		a(name='history'): h2 Our History
		p The Baltimore Transgender Alliance was founded in the fall of 2014 as a coalition of transgender-led activist groups in Baltimore City.  Following the death of Mya Hall, an innocent transgender woman of color, at the hands of the Baltimore Police Department, we organized the #BmoreTransUprising protest and rally in July of 2015 to demand police accountability. In November of 2015, we organized as part of the National Transgender March of Resilience, held on Transgender Day of Remembrance, to honor the lives we’ve lost and push forward to a world without trans murder.
	.parallax-window(data-parallax="scroll" data-image-src="/images/parallax-3.jpg")
	.container.about-text-section
		a(name='members'): h2 Our Leadership Team
		each member in data.leadershipTeamMembers
			.well: .media
				.media-left.media-middle: a(href='#'): img.media-object(src=member._.image.limit(128,128), style="border-radius:50%;")
				.media-body
					h4=member.name
					p!= member.description
					a(href="mailto:"+member.email).mdi.mdi-email=member.email 
			
	.parallax-window(data-parallax="scroll" data-image-src="/images/parallax-4.jpg")
	.container.about-text-section
		a(name='orgs'): h2 Our Member Organizations
		each org in data.memberOrgs
			.well: .media
				.media-left.media-middle: a(href='#'): img.media-object(src=org._.image.limit(128,128))
				.media-body
					h4=org.title
					p!= org.description
